@using Domain.AllEnums
@using Domain.EnumsHelpers
@{
    ViewBag.Title = "SearchStudents";
}

<div class="top-nav-left">
    <ul>
        <li class="active"><a href="index.html">Create Student</a></li>
        <li><a href="about.html">View Students</a></li>
        <li><a href="services.html">Upload Students</a></li>
        <li><a href="gallery.html">Assign Class</a></li>


    </ul>
</div>

<div class="clear"></div>

<div class="proheader">Search Students</div>
<div class="site-form theforms">

    @using (Html.BeginForm("Search", "Students"))
    {
        <table class="table" cellpadding="0" cellspacing="0">
            <tr>
                <td>Firstname</td>
                <td><input type="text" name="FirstName" /></td>
            </tr>
            <tr>
                <td>LastName</td>
                <td><input type="text" name="LastName" /></td>
            </tr>
            <tr>
                <td>OtherNames</td>
                <td><input type="text" name="OtherNames" /></td>
            </tr>
            <tr>
                <td>Class</td>
                <td>@Html.DropDownList("CurrentClassID", "Select")</td>
            </tr>
            <tr>
                <td>Gender</td>
                <td><input type="text" name="Gender" /></td>
            </tr>
            <tr>
                <td>Status</td>
                <td>@Html.DropDownList("Status", helper.GetSelectedItemList<status>())</td>
            </tr>
            <tr>
                <td>OtherNames</td>
                <td><input type="submit" name="submit" value="Submit" /></td>
            </tr>
        </table>
    }
    </div>




